:root {
  --first-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --blue-text-color: #2196f3;
  --items: 1;
  --indent: 30px;
}

.visuality-hiden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section.container {
    display: none;
  }
}

.page-body {
  background-color: var(--white-text-color);
  font-family: "Roboto";
  color: var(--first-text-color);
}
.page-body.no-scroll {
  overflow: hidden;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.buttons {
  background-color: var(--blue-text-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-text-color);
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
.buttons:hover, .buttons:focus {
  background-color: #188ce8;
  color: #ffffff;
  transition: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .filters-button {
    justify-content: center;
  }
}

.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters:hover, .filters:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.filters.active {
  background-color: #2196f3;
  color: #ffffff;
}

.send-button {
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.icon-send {
  margin-left: 10px;
  fill: #ffffff;
}

.site-nav__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-text-color);
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .div-logo {
    justify-content: center;
    display: inline-flex;
    align-items: center;
  }
}

.page-footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-text-color);
  text-decoration: none;
}

.site-nav__blue {
  color: var(--blue-text-color);
}

.site-nav__black {
  color: var(--first-text-color);
}

.page-footer__white {
  color: var(--white-text-color);
}

.page-footer__blue {
  color: var(--blue-text-color);
}

.social-links {
  list-style: none;
  text-decoration: none;
  display: flex;
  padding: 0%;
  justify-content: center;
}

.item-icon {
  margin-right: 10px;
  list-style: none;
}

.icons {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons:hover,
.icons:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-soc-links {
  display: flex;
  justify-content: center;
}

.footer-item-icons:not(:last-child) {
  margin-right: 10px;
}

.footer-item-icons {
  border-radius: 50%;
}

.footer-icons {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons:hover,
.footer-icons:focus {
  background-color: #2196F3;
}

.footer-soc-icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.svg-container {
  fill: currentColor;
  margin-right: 10px;
}

.client-logos {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: auto;
  margin-top: 50px;
}
@media screen and (min-width: 320px) {
  .client-logos {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 480px) {
  .client-logos {
    margin-bottom: 0;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .client-logos {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1199px) {
  .client-logos {
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client-logos {
    margin-right: -30px;
  }
}

@media screen and (min-width: 320px) {
  .clients-box {
    list-style: none;
  }
}
@media screen and (min-width: 1200px) {
  .clients-box {
    flex-basis: calc(16.6666666667% - 30px);
  }
}

.clients-logo:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients-logo:focus {
  border: 1px solid #2196f3;
}

.clients-logo {
  width: 210px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .clients-logo {
    width: 170px;
  }
}

.clients-icons {
  fill: currentColor;
}

.clients-logo:hover .clients-icons {
  fill: #2196f3;
}

.clients-logo:focus .clients-icons {
  fill: #2196f3;
}

.client-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.footer-title-send {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer-title-send {
    text-align: left;
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--white-text-color);
}
@media screen and (max-width: 1199px) {
  .title {
    font-size: 26px;
  }
}

.specifics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
@media screen and (max-width: 767px) {
  .specifics-title {
    text-align: center;
  }
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--first-text-color);
}

@media screen and (max-width: 1199px) {
  .work-title {
    display: none;
  }
}

.work-title-command {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.specifics-title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
}

.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-bottom: 4px;
  color: var(--first-text-color);
}

.card {
  justify-content: center;
  padding-top: 94px;
}

.cards {
  display: block;
}

.cards:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-border {
  position: relative;
  overflow: hidden;
}

.cards:hover .open-text {
  transform: translateY(0%);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.cards-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--secondary-text-color);
}

.workers__card-workers {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.open-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  height: 101%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.specifics-projects {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
@media screen and (min-width: 768px) {
  .specifics-projects {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .specifics-projects {
    --items: 3;
  }
}

.specifics-projects__item {
  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.specifics-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
  color: #757575;
}

.workers {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .workers__element {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .workers__element {
    width: 270px;
  }
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-list__projects {
  width: 370px;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .work-list__projects {
    display: none;
  }
}

.thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  align-self: center;
}

.worker-container {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .worker-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.specifics {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 767px) {
  .specifics {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .specifics {
    margin-bottom: 10px;
  }
}

.general-list__spec-icon {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .general-list__spec-icon {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .general-list__spec-icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .general-list__spec-icon {
    width: 270px;
  }
}

.general-list__icon-box {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .general-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 480px) {
  .general-list__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .general-list__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .general-list__item {
    max-width: calc(25% - 30px);
  }
}

.name-thumb {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.name-thumb:focus {
  border-color: #2196f3;
}

.stroke-thumb {
  margin-bottom: 10px;
}

.stroke-name-thumb {
  position: relative;
  display: block;
}

.stroke-name {
  padding-left: 42px;
  outline: none;
  width: 100%;
  height: 40px;
  left: 576px;
  top: 314px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}

.stroke-name-text {
  padding: 12px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
}

.stroke-name-text:hover {
  border-color: #2196f3;
}

.stroke-name-text:focus {
  border-color: #2196f3;
}

.stroke-name:hover {
  border-color: #2196F3;
}

.stroke-name:focus {
  border-color: #2196f3;
}

.name-icon {
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.stroke-name:hover + .name-icon {
  fill: #2196F3;
}

.stroke-name:focus + .name-icon {
  fill: #2196f3;
  border-color: #2196F3;
}

textarea {
  width: 448px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.rules {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 5px;
  color: #2196f3;
}

.input-check:checked + .check-text span {
  background-color: #2196F3;
  border: none;
}

.input-check:checked + .check-text .check-icon {
  fill: var(--white-text-color);
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid #757575;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: transparent;
}

.text-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-button-input {
  display: block;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  background-color: #2196f3;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(0%, -50%) rotate(0);
}

.modal {
  overflow-y: scroll;
  width: 528px;
  padding: 40px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) rotate(360deg);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .modal {
    max-width: calc(100% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: fixed;
  }
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 521px;
  height: 581px;
  transform: scaleX(0);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover::after {
  transform: scaleX(1);
}

.icon-close {
  width: 18px;
  height: 18px;
  fill: #212121;
}

.modal-close-button:hover .icon-close {
  fill: #2196F3;
}

.modal-close-button:focus .icon-close {
  fill: #2196F3;
}

.email-input {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .email-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .email-input {
    max-width: 100%;
    margin-left: auto;
  }
}

.input-text {
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 0 16px;
  outline: transparent;
}
@media screen and (min-width: 480px) {
  .input-text {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .input-text {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .input-text {
    width: 100%;
  }
}

.mobile-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 1199px) {
  .mobile-form {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-form {
    gap: 12px;
  }
}

.page-footer {
  padding-top: 60px;
  background-color: #2f303a;
  color: var(--white-text-color);
}
@media screen and (max-width: 1199px) {
  .page-footer {
    padding-bottom: 60px;
  }
}

.footer-group-logo {
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-group-logo {
    text-align: left;
  }
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  display: block;
  justify-content: flex-start;
  color: var(--blue-text-color);
  text-decoration: none;
  margin-bottom: 20px;
}

.text-address {
  font-style: normal;
  display: block;
  color: var(--white-text-color);
  margin-top: 20px;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  color: #ffffff;
}

.text-email {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-email {
  color: rgba(255, 255, 255, 0.6);
}

.text-email:hover,
.text-email:focus {
  color: #2196f3;
}

.text-telephone {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.text-telephone:hover,
.text-telephone:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    justify-content: flex-start;
  }
}

.flex-container {
  display: flex;
}

.join {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    text-align: start;
    margin: 0;
    margin-left: auto;
  }
}

.menu-burger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-burger {
    display: none;
  }
}
.menu-burger.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-burger:hover {
  fill: #2196f3;
}
.menu-burger:focus {
  fill: #2196f3;
}

.icon-menu:hover {
  fill: #2196f3;
}
.icon-menu:hover:focus {
  fill: #2196f3;
}

.icon-close:hover {
  fill: #2196f3;
}
.icon-close:hover:focus {
  fill: #2196f3;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  transform: translateX(100%);
  transition: transform 500ms;
}
.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-item {
  margin-bottom: 32px;
}

.mobile-menu-nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu-nav-link.current {
  color: #2196f3;
}

.mobile-menu-contacts {
  margin-bottom: 64px;
}

.mobile-menu-contacts-item {
  margin-bottom: 32px;
}

.mobile-menu-contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-menu-contacts-link.current {
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mobile-menu-contacts-link.current {
    font-size: 34px;
  }
}

.mobile-menu-social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mobile-menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.line {
  border-bottom: 1px solid #ececec;
}

.page-header {
  background-color: var(--white-text-color);
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.site-nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .site-nav {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .site-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-list {
  margin-left: 93px;
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-list {
    margin-left: 88px;
  }
}

.nav-list__navigation:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;
  position: relative;
  color: var(--first-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav-list__link {
    align-items: center;
    justify-content: flex-end;
  }
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--blue-text-color);
}
.nav-list__link.current {
  color: var(--blue-text-color);
}
.nav-list__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--blue-text-color);
  display: block;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    width: 1200px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--blue-text-color);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-mail {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-tel {
    width: 10px;
    height: 16px;
  }
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-backround-hero.jpg);
  padding-bottom: 118px;
  padding-top: 118px;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 480px) {
  .hero .hero {
    background-position: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.work-section {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */