.email-input {
  flex-direction: column;
  @media screen and (min-width:768px) {
  justify-content: center;
  }
    @media screen and (min-width:1200px) {
      margin-left: 93px;
    }
  }
  .input-text {
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 0.6);
    background-color:#2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 0 16px;
    outline: transparent;
    @media screen and (max-width:1199px) {
      width: 450px;
      margin-bottom: 20px;
    }
  }
.mobile-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width:768px) {
   flex-direction: column;
  }
}
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    color: var(--white-text-color);
  }
  .footer-group-logo {
    // display: flex;
    // flex-wrap: wrap;
  }
  .logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    display: block;
    justify-content: flex-start;
    color: var(--blue-text-color);
    text-decoration: none;
    margin-bottom: 20px;
    @media screen and (min-width:1200px) {
     
    }
  }
  
  .text-address {
    width: 227px;
    font-style: normal;
    display: block;
    color: var(--white-text-color);
    margin-top: 20px;
    @media screen and (max-width:1199px) {
      display: block;
    
    }
  }
  
  .address {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
    width: 231px;
    height: 21px;
    color: #FFFFFF;
    @media screen and (max-width:1199px) {
   justify-content: center;
    }
  }
  
  .text-email {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 9px;
    margin-top: 9px;
    width: 231px;
    height: 21px;
    color: rgba(255, 255, 255, 0.6);
    transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // @media screen and (max-width: 1199px) {
      // display: flex;
      // justify-content: center;
    //  }
  }
  
  .text-email {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .text-email:hover,
  .text-email:focus {
    color: #2196f3;
  }
  
  .text-telephone {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    width: 231px;
    height: 21px;
    color: rgba(255, 255, 255, 0.6);
    @media screen and (min-width:480px) {
      // display: flex;
      // justify-content: space-around;
     }
  }
  
  .text-telephone:hover,
  .text-telephone:focus {
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width:480px) {
      justify-content: space-around;
    }
    @media screen and (min-width:768px) {
   
    }
    @media screen and (min-width:1200px) {
      justify-content: flex-start;
      align-items: baseline;
    }
  }

  .flex-container {
    display: flex;
  }
  
  .join {
    margin-left: 70px;
    @media screen and (min-width:480px) {
      margin-left: 18px;
    }
    @media screen and  (max-width:1199px) {
      padding-top: 60px;
      margin-bottom: 60px;
    }
  }