.site-nav__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--blue-text-color);
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .page-footer__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--blue-text-color);
    text-decoration: none;
  }
  
  .site-nav__blue {
    color: var(--blue-text-color);
  }
  
  .site-nav__black {
    color: var(--first-text-color);
  }
  
  .page-footer__white {
    color: var(--white-text-color);
  }
  .page-footer__blue {
    color: var(--blue-text-color);
  }