.container {
    // width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  } 
  .container {
    @media screen and (min-width:1200px) {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  // .container {
  //   @media screen and (min-width:480px) {
  //     width: 480px;
  //     margin-left: auto;
  //     margin-right: auto;
  //     padding-left: 15px;
  //     padding-right: 15px;
  //   }
  // }

  .section.container {
    @media screen and (max-width:1199px) {
      display: none;
    }
  }

  .header-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }